* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #99e4ee 0%, #d3e0e2 100%);
  color: white;
  font-family: "Marker Felt", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  font-family: "Andale Mono", sans-serif;
  border-radius: 0.5em;
  color: #b7b7fa;
}
form button {
  color: #F5F5DC;
  background: linear-gradient(120deg, #99e4ee 0%, #d3e0e2 100%);
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: linear-gradient(120deg, #99e4ee 0%, #d3e0e2 100%);
  color: #b7b7fa;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #CCCCFF;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.complete-btn {
  background: #7CD2B3;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 3rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.8em;
}
select {
  color: #acacf8;
  font-family: "Andale Mono", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background: #F5F5DC;
  cursor: pointer;
  pointer-events: none;
  color: #badbe0;
  font-size: 1.4rem;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/